# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# DVC cache
.dvc/cache/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# MLflow
mlruns/
mlflow.db